<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxzd.gxzd.mapper.BillNameMapper">
    <select id="getAllBill" resultType="com.gxzd.gxzd.vo.BillNameVO">
        select id, bill_name, content, sharing, create_time
        from bill_name
        where id &lt; #{endIndexId}
          and user_id = #{userId}
        order by create_time desc
    </select>
</mapper>
